@import 'open-props/normalize.min.css';

:root {
  color-scheme: light dark;
  /* font */
  --font-sans: 'Poppins', sans-serif;

  --brand: light-dark(var(--red-9), var(--red-10));
  --warning: light-dark(var(--yellow-4), var(--orange-4));
  --text-1: light-dark(var(--gray-12), var(--gray-1));
  --text-2: light-dark(var(--gray-10), var(--gray-2));
  --surface-1: light-dark(var(--stone-2), var(--gray-9));
  --surface-2: light-dark(var(--stone-4), var(--gray-8));

  --blob-light: var(--gradient-25);
  --blob-dark: var(--gradient-1);
}

:root {
  --blob: var(--blob-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --blob: var(--blob-dark);
  }
}

[color-scheme='dark'] {
  color-scheme: dark;
  --blob: var(--blob-dark);
}

[color-scheme='light'] {
  color-scheme: light;
  --blob: var(--blob-light);
}

html {
  --font-size-9: 4rem;
  --size-content-4: 70ch;

  color: var(--text-1);
  accent-color: var(--brand);
  background-color: var(--surface-1);
  background-attachment: fixed;
  font-family: var(--font-sans);
}

body,
html {
  height: 100svh;
  width: 100vw;
  overflow-x: hidden;
}

a {
  padding: 0;
}

a:visited {
  color: inherit;
}
