@media (prefers-color-scheme: light) {
    :root {
        --bg-primary: #f3f3f3;
        --bg-secondary: #fbfbfb;
        --accent: #b80c09;
        --text: #040f16;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-primary: #040f16;
        --bg-secondary: #1d262d;
        --accent: #d00e0a;
        --text: #fbfbfb;
    }
}